@font-face{
	font-family: Hello_January_script Script;
	font-display: swap;
	src: url("../fonts/Hello_January_script Script.woff2") format("woff2"), url("../fonts/Hello_January_script Script.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Poiret One;
	font-display: swap;
	src: url("../fonts/Poiret One.woff2") format("woff2"), url("../fonts/Poiret One.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Sverdlovsk;
	font-display: swap;
	src: url("../fonts/Sverdlovsk.woff2") format("woff2"), url("../fonts/Sverdlovsk.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
