//===========================================
$fontFamily: "Poiret One"; //Шрифт по умолчанию
$fontSize: 20px; //Размер шрифта по умолчанию
$mainColor: #2A4A5E; // Цвет шрифта по умолчанию
//===========================================

//<Основные цвета>======
$title: #2A4A5E;
$title-italic: #102836;

$dress-1: #CFA575;
$dress-2: #85513C;
$dress-3: #FFFFFF;
$dress-4: #333B60;
$dress-5: #7CA0C2;
$dress-6: #5078B3;
//</Основные цвета>=====
//<Брейкпоинты>=========
$siteWidth: 430;
$widthContainer: 446;
$mb1: $widthContainer + 16;
$mb2: 991.92;
$mb3: 767.98;
$mb4: 479.98;
//</Брейкпоинты>========